html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* .swiper{
  width: 500px;
} */
.swiper {
  height: 300px !important;
}
.swiper-slide .img-wrapper {
  position: absolute;
  width: 100%;  
  height: 100%;
}
.swiper-slide .img-wrapper img{
  width: 100%; 
  height: 100%;
}

.destination-wrapper{
  padding: 5rem;
}
.destinations-data{
  position: relative;
  display: flex;
  padding: 3rem 1rem;

}
.destinations-data.active{
  border: 1px solid #000;
}
.destinations-image .image-wrapper {
  position: absolute;
  width: 100px;
  height: 100px;
}
.destinations-image .image-wrapper img{
  width: 100px;
  height: 100px;
}